<div class="refundBox" ng-if="showRefund">
    <h2>退款</h2>
    <div class="orderId">订单号:&nbsp;{{orderId}}</div>
    <div class="orderContent">订单内容:&nbsp;{{orderContent}}</div>
    <div class="selectBox">
        <p>请选择您退款的理由:</p>
        <select ng-model="refundForm.reasonTip">
            <option  value="default">请选择退款理由</option>
            <option  value="与卖家协商退款">与卖家协商退款</option>
            <option  value="卖家迟迟未发货">卖家迟迟未发货</option>
            <option  value="卖家已发货，但未收到货">卖家已发货，但未收到货</option>
            <option  value="个人原因">个人原因</option>
            <option  value="其他">其他</option>
        </select>
    </div>
    <div class="reasonContent">
        <p>请补充您退款的理由:(可选)</p>
        <textarea  ng-model="refundForm.reason"></textarea>
    </div>
    <div class="cl"></div>
    <button type="submit" ng-click="refund()" ng-show="isLoaded">提交</button>
    <img class="loading" src="../../frontend/static/img/loading.gif" ng-show="!isLoaded">
</div>