.refundBox>.orderId,.refundBox>.orderContent{
    width:250px;
    margin-top: 10px;
}
.refundBox>.selectBox{
    width:200px;
    margin-top: 10px;
    padding-right:10px;
    margin-right: 10px;
}
.refundBox>.selectBox>p{
    color:#3e3e3e;
}
.refundBox>.selectBox>select{
    display: block;
    margin-top: 5px;
    height:24px;
}
.refundBox>.reasonContent>p{
    margin: 10px 0px;
}
.refundBox>.reasonContent>textarea{
    padding:5px;
    width:250px;
    height:120px;
}
.refundBox>button{
    display: block;
    margin-top: 10px;
    border:0px;
    padding:8px 15px;
    color:white;
    background-color: #238ef0;
    cursor:pointer;
}
.refundBox>button:hover{
    background-color: #2ebcff;
}