main-booking .bookingBox{
    min-width:860px;
}
main-booking .bookingBox>div{
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 3%;
    width:200px;
    height:200px;
    border-radius: 5px;
    background-color: #ebeef5;
    cursor: pointer;
    text-align: center;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
main-booking .bookingBoxdiv:hover{
    -webkit-box-shadow: 0px 5px 8px #c9d1d3;
    -moz-box-shadow: 0px 5px 8px #c9d1d3;
    box-shadow: 0px 5px 8px #c9d1d3;
}
main-booking .bookingBox>div>.content>i{
    font-size:40px;
}
main-booking .bookingBox>div>.content{
    margin: 50px auto;
    width:150px;
    height:150px;
    text-align: center;
}
main-booking .bookingBox>div>.content>div{
    margin-top: 20px;
}