<main-booking>
    <div class="header">
        <div class="navBox">
            <div class="tagBtn tagTitle" ui-sref="main.booking"><i class="iconfont">&#xe605;</i>在线订购系统</div>
        </div>
    </div>
    <div class="bookingBox">
        <div ng-click="goPages('hotel')">
            <div class="content">
                <i class="iconfont">&#xe60d;</i>
                <div>酒店预订</div>
            </div>
        </div>
        <div ng-click="goPages('flight')">
            <div class="content">
                <i class="iconfont">&#xe60f;</i>
                <div>航班预订</div>
            </div>
        </div>
        <div>
            <div class="content">
                <i class="iconfont">&#xe610;</i>
                <div>开发中</div>
            </div>
        </div>
        <div>
            <div class="content">
                <i class="iconfont">&#xe610;</i>
                <div>开发中</div>
            </div>
        </div>
        <div>
            <div class="content">
                <i class="iconfont">&#xe610;</i>
                <div>开发中</div>
            </div>
        </div>
        <div>
            <div class="content">
                <i class="iconfont">&#xe610;</i>
                <div>开发中</div>
            </div>
        </div>
    </div>
</main-booking>