<div class="mdfyPswd" ng-if="showMdfyPswd">
    <h2>修改登录密码</h2>
    <form>
        <div>
            原密码:<input type="password" placeholder="原登录密码" ng-model="mdfyPswdForm.oldPswd">
        </div>
        <div>
            新密码:<input type="password" placeholder="新登录密码" ng-model="mdfyPswdForm.newPswd">
        </div>
        <div class="confirmBox">
            确认密码:<input type="password" placeholder="确认密码" ng-model="mdfyPswdForm.confirmNew">
        </div>
        <button type="submit" class="fr" ng-click="goMdfyPswd()" ng-show="isLoaded">确认修改</button>
        <img class="loading fr" src="../../frontend/static/img/loading.gif" ng-show="!isLoaded">
    </form>
</div>