<home>
    <modal>
        <home-login></home-login>
        <home-register></home-register>
        <home-findpswd></home-findpswd>
    </modal>
    <div class="container">
        <div class="topBox">
            <div class="logo"><i class="iconfont">&#xe604;</i>在线支付系统</div>
        </div>
        <div class="conBox">
            <div class="wrap">
                <div class="slogan">亿颗赛艇</div>
                <div class="subSlogan">水可覆舟，亦可赛艇</div>
                <div class="buttonBox">
                    <button type="button" class="loginBtn" ng-click="showLogin()"><i class="iconfont">&#xe602;</i>登录</button>
                    <button type="button" class="registerBtn" ng-click="showRegister()"><i class="iconfont">&#xe606;</i>注册</button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="copyright">软件工程基础第二大组版权所有©2016</div>
        </div>
    </div>
</home>