<div class="flightDsitem">
    <div class="fl">
        <div class="company">{{company}}</div>
        <div class="flightId">{{flightId}}</div>
    </div>
    <div class="timeBox fl">
        <div class="leaveTime">{{leaveTime}}</div>
        <div>|</div>
        <div class="reachTime">{{reachTime}}</div>
    </div>
    <div class="discPrice fl">¥ {{discPrice}}</div>
    <div class="discRate fl">{{discRate}} 折</div>
    <button class="fr" ng-click="flightDetail(goodsId)">订票</button>
    <div class="cl"></div>
</div>