.orderItem{
    margin-top: 20px;
    border:1px solid #f3f6fd;
}
.orderItem>table{
    width:100%;
    border-collapse: collapse;
}
.orderItem tr:first-child{
    background-color: #f3f6fd;
    height:40px;
}
.orderItem tr:first-child>td:first-child{
    text-align: left;
    padding-left: 2%;
}
.orderItem tr:last-child{
    height:130px;
}
.orderItem tr:last-child>td{
    border-left:1px solid #f1f1f1;
}
.orderItem tr:last-child>td:first-child{
    border-left:0;
    padding:10px;
    font-size:18px;
}
.orderItem td{
    text-align: center;
}
.orderItem .action{
    font-size: 16px;
}
.orderItem .action a{
    display: block;
    margin-top: 5px;
    text-decoration: none;
    color:#238ef0;
}
.orderItem .action a:hover{
    color:#3acaf0;
}